.gry{
    width: 300px;
    height: 400px;
    border: 5px solid #03899E;
    border-radius: 10px;
    margin-bottom: 15px;
}
.numerpokoju{
    width: 90%;
    font-size: 25px;
    border: 0;
    color: #03899E;
    text-align: center;
}
.gracze{
    font-size: 20px;
}
