
.icon-archive:before { content: '\e800'; } /* '' */
.icon-right-big:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-eject:before { content: '\e804'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */